doctype html
html
    head
        title= 'GUARDIAN ANGELS'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Home
        br
        a(href='/needs') I Need
        br
        a(href='/wants') I Want

        block content