extends layout

block content
    h1  I NEED
    h3  List of all things I MUST have to live

    ol
      li  Rent              $ 50
      li  Electricity       $ 20
      li  Heat              $ 20
      li  Water             $ 15
      li  Food             $ 160
      li  Health            $  0
      li  Transportation    $ 54