extends layout

block content
    h1 I WANT
    h3 List of all things I would like to have

    ol
        li White snow boots                                  $ 50
        li Pink-Hooded-fur winter jacket                     $ 20
        li White big van                                 $ 20,000
        li Cottage in forest, near mountains and lakes  $ 100,000
