doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous')
    // css3 file bootstrap
    link(rel='stylesheet' href='css3/styles.css')
    title Wants
// DIVS
// HEADER - Top line GREY - COLUMNS 1
.columns-1-grey-thin-container
    .row
// HEADER - Top line PINK - COLUMNS 1
.columns-1-pink-thin-container
    .row
// HEADER - Picture -  COLUMNS 1 PINK
.header-container.center-container
    header
        // header pic-link
        a(href='index.html')
            img(src='images/header/header1.png' alt='Guardian Angels' style='width:1000px;height:400px;border:0;')
        br
        h3 &quot;Wants&quot;
        // media pics links
        // facebook pic-link
        a(href='https://www.facebook.com/EnchantingDesigns.NCM/' style='text-decoration: none;')
            img(src='images/buttons/facebook.png' alt='facebook ' style='width:100px;height:100px;border:0')
        // twitter pic-link
        a(href='https://twitter.com/' style='text-decoration: none;')
            img(src='images/buttons/twitter.png' alt='twitter' style='width:100px;height:100px;border:0')
        // instagram pic-link
        a(href='https://www.instagram.com/ncmariscal/' style='text-decoration: none;')
            img(src='images/buttons/instagram.png' alt='instagram' style='width:100px;height:100px;border:0')
// NAVIGATOR - Top line GREY - COLUMNS 1
.columns-1-grey-thin-container
    .row
// divs - table -1 TESTING NAVIGATORS - BOOTSTRAP 0.4
// Navbar
nav.navbar.navbar-expand-lg.navbar-golden
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse(;='')
        ul.navbar-nav.mx-auto
            li.nav-item.active
                a.nav-link(href='index.html')
                    | Guardian Angels
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='aboutus.html') About Us
            li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='services.html' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Gifts
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='gifts.html') Gifts
                    .dropdown-divider
                    a.dropdown-item(href='needs.html') Needs
                    a.dropdown-item(href='wants.html') Wants
                    .dropdown-divider
                    a.dropdown-item(href='donations.html') Donations
            li.nav-item
                a.nav-link(href='contactus.html') Contact Us
// NAVIGATOR - Bottom line GREY - COLUMNS 1
.columns-1-grey-thin-container
    .row
// NAVIGATOR - COLUMNS 1 - Golden SMALL
.columns-1-golden-thin-container
    .pink
        .col-md-12
// MAIN - COLUMNS 1 - TRANSLUCENT -
.colums-main-container
    .row-main
        .col-md-12
            // MAIN - COLUMNS 1 - TRANSLUCENT
            .main-container.center-container
                .main.background-container
                    // WANTS pic
                    img(src='images/pagestitles/wants.png' alt='wants' style='width:500px;height:250px;border:0')
                    br
                    img(src='images/lists/wants.png' alt='wants')
// FOOTER
// FOOTER pink
.columns-1-pink-thin-container
    .pink
        .col-md-12
// FOOTER Golden
.columns-1-golden-thin-container
    .pink
        .col-md-12
// FOOTER grey
.colums-footer-grey-container
    .row-footer-grey-center
        .col-md-12
            // contact pic-link
            a(href='contact.html' style='text-decoration: none;')
                img(src='images/buttons/1.png' alt='Contact' style='width:400px;height:200px;border:0')
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')
